<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoopladigital.mapper.PetMapper">

	<select id="getPetList" resultType="Pet">
		select
			   id,
			   name,
			   PersonId
		from Pet
		order by id
	</select>

	<select id="getPet" resultType="Pet">
		select id,
		name,
		PersonId
		from Pet where id = #{id}
	</select>

	<select id="getPetForPerson" resultType="Pet">
		select id,
			   name,
			   PersonId
		from Pet where id = #{petId} and personId = #{personId}
	</select>

	<select id="deletePet" flushCache="true">
		delete from Pet where id = #{id}
	</select>

	<update id="updatePet">
		update Pet set name = #{name,javaType=string,jdbcType=VARCHAR}

		where id = #{id} and personId = #{personId}
	</update>

	<insert id="insertPet" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Pet (name,personId)
		VALUES (#{name,javaType=string,jdbcType=VARCHAR},#{personId})
	</insert>

</mapper>
